<h1 *ngIf="isAddMode">Ajouter un membre</h1>
<h1 *ngIf="!isAddMode">Modifier un membre</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">Prénom</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">
          le champ prénom est requis
        </div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Nom</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">le champ nom est requis</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Pseudo</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">le champ pseudo est requis</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Mot de passe
        <em *ngIf="!isAddMode"
          >(laisser le champ vide pour garder le même mot de passe)</em
        >
      </label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">
          le champ mot de passe est requis
        </div>
        <div *ngIf="f.password.errors.minlength">Minimum 6 caractères</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Enregistrer
    </button>
    <a routerLink="/users" class="btn btn-link">Annuler</a>
  </div>
</form>
